.active {
  border: 3px solid #0D0D0D;
  transition: all 0.5s 0s ease;
}


body{
  background-color: #A3A653;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  .sel {
    display: flex;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;
    p{
      padding-right: 5px;
      font-size: 20px;
    }
    div {
      font-size: 20px;
      background-color: red;
    }

  }
.todo-record-wrapper {
  margin: 2px;
  background-color: #F2EB88;
  display: flex;
  justify-content: space-around;
  &:hover {
    background-color: #35F29A;
    transition: all 0.5s 0s ease;
    opacity: 0.8;
  }

  .list-data-id {
    width: 100px;
  }
  .list-data-name {
    width: 250px;
    p {
      max-width: 250px;
    }
  }
  .list-data-status {
    width: 150px;
  }
  .del-button {
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px;
    min-width: 120px;
    &:hover {
      background-color: red;
    }
  }
}

  .return {
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px;
    min-width: 120px;
    margin: 20px 0 20px 450px;
    &:hover {
      background-color: red;
    }
  }
  .pages {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    .counter {
      font-size: 30px;
      color:#0a0a23;
    }
    .arr {
      background-color:#0a0a23;
      color: #fff;
      border:none;
      font-size: 20px;
      border-radius:20px;
      width: 40px;
      height: 40px;
      &:hover {
        background-color: red;
      }

    }
  }
}